<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Angular-form</title>
		<link rel="stylesheet" href="../libs/bootstrap.css"/>
		<style>
			.wrapper{width:200px;margin:30px auto;}
			.error{color:#a10;}
			input.error{border:1px solid #a10;}
		</style>
	</head>
	<body ng-app="mainApp">
		<div class="wrapper" ng-controller="signupController">
			<form name="signupForm" ng-submit="submitForm()">
				<div class="form-group">
					<label for="username">用户名：</label>
					<pre>合法{{signupForm.username.$valid}}</pre>
					<pre>{{signupForm.username}}</pre>
					<pre>{{userdata.username}}</pre>
					<input name="username" type="text" class="form-control" 
								 ng-model="userdata.username"
								 required
								 ng-minlength="6"
								 ng-maxlength="32"
								 />
					<p class="error" ng-if="(signupForm.username.$error.minlength 
																	|| signupForm.username.$error.maxlength) 
																	&& signupForm.username.$touched">
																	用户名长度应该在6至32位之间
					</p>
					<p class="error" ng-if="signupForm.username.$error.required 
																	&& signupForm.username.$touched">
						用户名不能为空
					</p>
				</div>
				<div class="form-group">
					<label for="password">密码：</label>
					<pre>合法{{signupForm.password.$valid}}</pre>
					<pre>{{signupForm.password}}</pre>
					<pre>{{userdata.password}}</pre>
					<input name="password" type="password" class="form-control" ng-model="userdata.password"
								 required
								 ng-minlength="6"
								 ng-maxlength="24"
								 />
					<p class="error" ng-if="signupForm.password.$error.required 
																	&& signupForm.password.$touched">
						密码不能为空
					</p>
					<p class="error" ng-if="(signupForm.password.$error.minlength 
																 || signupForm.password.$error.maxlength)
																 && signupForm.password.$touched">
																 密码格式不正确
					</p>
				</div>
				<div class="form-group">
					<label for="passwordagain">确认密码：</label>
					<pre>合法{{signupForm.passwordagain.$valid}}</pre>
					<pre>{{signupForm.passwordagain}}</pre>
					<pre>{{userdata.passwordagain}}</pre>
					<input name="passwordagain" type="password" class="form-control" 
								 ng-model="userdata.passwordagain"
								 required
								 compare="userdata.password"
								 />
					<p class="error" ng-if="signupForm.passwordagain.$error.compare 
																	&& signupForm.passwordagain.$touched">
					两次输入的密码不匹配
					</p>
				</div>
				<div class="form-group">
					<button class="btn btn-primary"/>注册</button>
				</div>
			</form>
		</div>
		
		
		
		<script src="../libs/AngularJS_v1.5.0.js"></script>
		<script src="../js/signup.js"></script>
	</body>
</html>
