<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" type="text/css" href="../../vendor/bootstrap/css/bootstrap.css">
</head>
<body ng-app="myApp">
	<div ng-controller="firstController">
		<ul ng-repeat="user in data | filterAge">
			<li>{{user.name}}</li>
			<li>{{user.age}}</li>
			<li>{{user.team}}</li>
		</ul>
		<ul ng-repeat="user in data | filterTeam">
			<li>{{user.name}},{{user.age}},{{user.team}}</li>
		</ul>		

	</div>





	<script type="text/javascript" src="../../vendor/angular/angular-0719.js"></script>
	<script type="text/javascript" src="app/main.js"></script>
</body>
</html>