<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
</head>
<body>
	<div ng-controller="sumController">
		<button ng-click="count=count + 1" ng-init="count=0">Increment</button>
		count:{{count}}
		<br/>
		<button ng-click="decrement()">Decrement</button>
	</div>
	
	

	<script src="../library/scripts/angular.js"></script>
	<script>
		angular.module("myApp",[])
		.controller("sumController",function($scope){
			$scope.decrement = function(){
				$scope.count = $scope.count - 1;
			}
		})
	</script>
</body>
</html>