<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <style>
    .title{background:red;line-height: 35px;}
    .body{background:purple;line-height: 35px;}
  </style>
</head>
<body ng-controller="mainCtrl">
  <accordion >
    <expander ng-repeat="expander in expanders" expander-title="expander.title">
      {{expander.text}}
    </expander>
  </accordion>

  <script src="../vendor/angular/angular.min.js"></script>
  <script>
    angular.module('myApp',[])
      .directive('accordion',function(){
        return {
          restrict:'EA',
          replace:true,
          transclude:true,
          template:'<div ng-transclude></div>',
          controller:function(){
            var expanders = [];
            this.getOpened = function(selectedExpander){
              angular.forEach(expanders,function(expander){
                if(selectedExpander != expander){
                  expander.showMe = false;
                }
              });
            }
            this.addExpaner = function(expander){
              expanders.push(expander);
            }
          }
        }
      })
      .directive('expander',function(){
        return {
          restrict:'EA',
          replace:true,
          transclude:true,
          require:'^?accordion',
          scope:{
            title:'=expanderTitle'
          },
          template:'<div>'
                  +'<div class="title" ng-click="toggle()">{{title}}</div>'
                  +'<div class="body" ng-show="showMe" ng-transclude></div>'
                  +'</div>',
          link:function(scope,element,attrs,accordionController){
            scope.showMe = false;
            accordionController.addExpaner(scope);
            scope.toggle = function toggle(){
              scope.showMe = !scope.showMe;
              accordionController.getOpened(scope);
            }
          }
        }
      })
      .controller('mainCtrl',['$scope',function($scope){
        $scope.expanders = [
          {
            title:'click me to expand',
            text:'Hi there folks'
          },
          {
            title:'click me',
            text:'hello world!'
          },
          {
            title:'click me to expand',
            text:'Hi there folks'
          }
        ];
      }]);
  </script>
</body>
</html>